<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
    .css_input{
        color: yellow;
        background-color: darkred;
    }
</style>


<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
<!--    <label>NAME</label>-->
<!--    <input name="name">-->
<!--    <label>PHONE</label>-->
<!--    <input name="phone">-->
<!--    <button type="submit">SEND</button>-->
</form>

<br>
<br>
<br>
<br>

{% if object_list %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>NAME</th>
        <th>PHONE</th>
    </tr>
<!--    <h1> {{ object_list }} </h1>-->
{% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_dt }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
is empty
{% endif %}

</body>
</html>
